@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    background-color: #222222;
    text-align: center;
}
.sketch-canvas {
    background: #222222;
    position: absolute;
    top: 10;
    left: 10;
}

.text-block {
    position: absolute;
    text-align: center; 
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;  
    height: 240px;
}

.text {
    position:absolute;
    top: 120px;
    left: 40px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    color: #444444;
    z-index: 0;

    font-size: larger;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    /* background-color: black; */
}

#text-overlay {
    z-index: 1;
    color: coral;
    background-color: transparent;
}
#header {
    /* display: block; */
    position: absolute;
    top: 0px;
    width: 100%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #dddddd;
    background-color: transparent;
    /* width: 1080px; */
}
#header p {
    background-color: transparent;
    font-weight: 200;
}

#footer {
    position: absolute;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    text-align: center;
    color: #bbbbbb;
    font-size: smaller;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
}